{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "db": "./src/db",
          "app": "./src/app",
          "util": "./src/util",
          "schema": "./src/schema"
        }
      }
    ]
  ]
}
